.text-purple {
    color: #ada7ff;
}

.text-brown {
    color: #404040;
}

.border-r-c {
    border-radius: 5rem;
}

.h {
    height: 330px;
}

.bg-purple {
    background-color: #ada7ff;
}

.w {
    width: 20px;
    height: 20px;
}

.b-r {
    border-radius: 1rem;
}

.img_pet {
    width: 100%;
}

@media screen and (max-width: 680px) {

}